* {
    box-sizing: border-box;
}

body {
    padding: 0 30px;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.title a {
    color: #7575d0;
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline;
}

#app {
    max-width: 1000px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

textarea {
    font-size: 20px;
    line-height: 2;
    font-family: 'Arial';
}

.github-link-wrap {
    text-align: center;
}

.form {
    margin-top: 2rem;
}

.form__font-size {
    width: 200px;
}